*{
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    background-color: #66bb83;
}
.title {
    font-size: 24px;
    color: #3c7353;
    margin-bottom: 20px;
}
.notesOl{
    padding-left: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
li {
    max-width: 90%;
    padding: 5px;
    margin-left: 30px;
    overflow-wrap: break-word;
}
.container{
    border: 5px solid #5ea47a;
    border-radius: 20px;
    width: 500px;
    overflow-y: auto;
    background-color: white;
}
.notes {
    width: 77%;
    text-align: left;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;

}
.delButton{
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid;
}
.delButton:hover{
    border: 1px solid  red;
}
.addButton{
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
.addButton:hover{
    border: 1px solid  blue;
}
.delBtnList {
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;

}
.delBtnList:hover {
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
}